#searchForm {
    width:90%;
    height:30vh;
    margin:auto;
    background-color:#343a40;
    color:white;
    border-radius:2px;
}
#searchForm h1{
    width:100%;
    text-align:center;
}

#searchForm input{
    width:90%;
    margin-left:5%;
}

#searchForm #submitBtn {
    width:15%;
    height:20%;
    margin:auto;
    margin-right:5%;
    margin-top:2%;
    float:right;
}